#juanificate_preload{background-image:  url("../images/bocas/1.png");}
#juanificate_preload{background-image:  url("../images/bocas/2.png");}
#juanificate_preload{background-image:  url("../images/bocas/3.png");}
#juanificate_preload{background-image:  url("../images/bocas/4.png");}
#juanificate_preload{background-image:  url("../images/bocas/5.png");}
#juanificate_preload{background-image:  url("../images/bocas/6.png");}
#juanificate_preload{background-image:  url("../images/bocas/7.png");}
#juanificate_preload{background-image:  url("../images/bocas/8.png");}
#juanificate_preload{background-image:  url("../images/bocas/9.png");}
#juanificate_preload{background-image:  url("../images/bocas/10.png");}
#juanificate_preload{background-image:  url("../images/bocas/11.png");}
#juanificate_preload{background-image:  url("../images/bocas/12.png");}
#juanificate_preload{background-image:  url("../images/bocas/13.png");}
#juanificate_preload{background-image:  url("../images/bocas/14.png");}
#juanificate_preload{background-image:  url("../images/bocas/15.png");}
#juanificate_preload{background-image:  url("../images/bocas/16.png");}
#juanificate_preload{background-image:  url("../images/bocas/17.png");}
#juanificate_preload{background-image:  url("../images/bocas/18.png");}
#juanificate_preload{background-image:  url("../images/bocas/19.png");}
#juanificate_preload{background-image:  url("../images/bocas/20.png");}
#juanificate_preload{background-image:  url("../images/bocas/21.png");}
#juanificate_preload{background-image:  url("../images/bocas/22_1.png");}
#juanificate_preload{background-image:  url("../images/bocas/22_2.png");}
#juanificate_preload{background-image:  url("../images/bocas/22_3.png");}
#juanificate_preload{background-image:  url("../images/bocas/22_4.png");}
#juanificate_preload{background-image:  url("../images/bocas/23_1.png");}
#juanificate_preload{background-image:  url("../images/bocas/23_2.png");}
#juanificate_preload{background-image:  url("../images/bocas/23_3.png");}
#juanificate_preload{background-image:  url("../images/bocas/23_4.png");}
#juanificate_preload{background-image:  url("../images/bocas/24_1.png");}
#juanificate_preload{background-image:  url("../images/bocas/24_2.png");}
#juanificate_preload{background-image:  url("../images/bocas/24_3.png");}
#juanificate_preload{background-image:  url("../images/bocas/24_4.png");}
#juanificate_preload{background-image:  url("../images/bocas/25_1.png");}
#juanificate_preload{background-image:  url("../images/bocas/25_2.png");}
#juanificate_preload{background-image:  url("../images/bocas/25_3.png");}
#juanificate_preload{background-image:  url("../images/bocas/25_4.png");}

#juanificate_preload{background-image:  url("../images/escenarios/1.png");}
#juanificate_preload{background-image:  url("../images/escenarios/2.png");}
#juanificate_preload{background-image:  url("../images/escenarios/3.png");}
#juanificate_preload{background-image:  url("../images/escenarios/4.png");}
#juanificate_preload{background-image:  url("../images/escenarios/5.png");}
#juanificate_preload{background-image:  url("../images/escenarios/6.png");}

#juanificate_preload{background-image:  url("../images/ojos/1.png");}
#juanificate_preload{background-image:  url("../images/ojos/2.png");}
#juanificate_preload{background-image:  url("../images/ojos/3.png");}
#juanificate_preload{background-image:  url("../images/ojos/4.png");}
#juanificate_preload{background-image:  url("../images/ojos/5.png");}
#juanificate_preload{background-image:  url("../images/ojos/6.png");}
#juanificate_preload{background-image:  url("../images/ojos/7.png");}
#juanificate_preload{background-image:  url("../images/ojos/8.png");}
#juanificate_preload{background-image:  url("../images/ojos/9.png");}
#juanificate_preload{background-image:  url("../images/ojos/10.png");}
#juanificate_preload{background-image:  url("../images/ojos/11.png");}
#juanificate_preload{background-image:  url("../images/ojos/12.png");}
#juanificate_preload{background-image:  url("../images/ojos/13.png");}
#juanificate_preload{background-image:  url("../images/ojos/14.png");}
#juanificate_preload{background-image:  url("../images/ojos/15.png");}
#juanificate_preload{background-image:  url("../images/ojos/16.png");}
#juanificate_preload{background-image:  url("../images/ojos/17.png");}
#juanificate_preload{background-image:  url("../images/ojos/18.png");}
#juanificate_preload{background-image:  url("../images/ojos/19.png");}
#juanificate_preload{background-image:  url("../images/ojos/20.png");}
#juanificate_preload{background-image:  url("../images/ojos/21.png");}
#juanificate_preload{background-image:  url("../images/ojos/22.png");}
#juanificate_preload{background-image:  url("../images/ojos/23.png");}
#juanificate_preload{background-image:  url("../images/ojos/24.png");}
#juanificate_preload{background-image:  url("../images/ojos/25.png");}
#juanificate_preload{background-image:  url("../images/ojos/26.png");}

#juanificate_preload{background-image:  url("../images/outfit/hombre/1.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/2.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/3.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/4.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/5.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/6.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/7.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/8.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/9.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/10.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/11.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/12.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/13.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/14.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/15.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/16.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/17.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/18.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/19.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/20.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/21.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/22.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/23.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/24.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/25.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/26.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/27.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/28.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/29.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/30.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/31.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/32.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/33.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/34.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/35.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/36.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/37.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/38.png");}
#juanificate_preload{background-image:  url("../images/outfit/hombre/39.png");}

#juanificate_preload{background-image:  url("../images/outfit/mujer/1.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/2.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/3.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/4.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/5.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/6.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/7.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/8.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/9.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/10.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/11.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/12.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/13.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/14.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/15.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/16.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/17.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/18.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/19.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/20.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/21.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/22.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/23.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/24.png");}
#juanificate_preload{background-image:  url("../images/outfit/mujer/25.png");}

#juanificate_preload{background-image:  url("../images/pantalones/hombre/1.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/2.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/3.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/4.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/5.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/6.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/7.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/8.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/9.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/10.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/11.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/12.png");}
#juanificate_preload{background-image:  url("../images/pantalones/hombre/13.png");}

#juanificate_preload{background-image:  url("../images/pantalones/mujer/1.png");}
#juanificate_preload{background-image:  url("../images/pantalones/mujer/2.png");}
#juanificate_preload{background-image:  url("../images/pantalones/mujer/3.png");}
#juanificate_preload{background-image:  url("../images/pantalones/mujer/4.png");}
#juanificate_preload{background-image:  url("../images/pantalones/mujer/5.png");}
#juanificate_preload{background-image:  url("../images/pantalones/mujer/6.png");}

#juanificate_preload{background-image:  url("../images/peinados/1.png");}
#juanificate_preload{background-image:  url("../images/peinados/2.png");}
#juanificate_preload{background-image:  url("../images/peinados/3_1.png");} 
#juanificate_preload{background-image:  url("../images/peinados/3_2.png");} 
#juanificate_preload{background-image:  url("../images/peinados/3_3.png");} 
#juanificate_preload{background-image:  url("../images/peinados/3_4.png");} 
#juanificate_preload{background-image:  url("../images/peinados/4_1.png");} 
#juanificate_preload{background-image:  url("../images/peinados/4_2.png");} 
#juanificate_preload{background-image:  url("../images/peinados/4_3.png");} 
#juanificate_preload{background-image:  url("../images/peinados/4_4.png");} 
#juanificate_preload{background-image:  url("../images/peinados/5_1.png");} 
#juanificate_preload{background-image:  url("../images/peinados/5_2.png");} 
#juanificate_preload{background-image:  url("../images/peinados/5_3.png");} 
#juanificate_preload{background-image:  url("../images/peinados/5_4.png");} 
#juanificate_preload{background-image:  url("../images/peinados/6_1.png");} 
#juanificate_preload{background-image:  url("../images/peinados/6_2.png");} 
#juanificate_preload{background-image:  url("../images/peinados/6_3.png");} 
#juanificate_preload{background-image:  url("../images/peinados/6_4.png");} 
#juanificate_preload{background-image:  url("../images/peinados/7_1.png");} 
#juanificate_preload{background-image:  url("../images/peinados/7_2.png");} 
#juanificate_preload{background-image:  url("../images/peinados/7_3.png");} 
#juanificate_preload{background-image:  url("../images/peinados/7_4.png");} 
#juanificate_preload{background-image:  url("../images/peinados/8_1.png");} 
#juanificate_preload{background-image:  url("../images/peinados/8_2.png");} 
#juanificate_preload{background-image:  url("../images/peinados/8_3.png");} 
#juanificate_preload{background-image:  url("../images/peinados/8_4.png");} 
#juanificate_preload{background-image:  url("../images/peinados/9_1.png");} 
#juanificate_preload{background-image:  url("../images/peinados/9_2.png");} 
#juanificate_preload{background-image:  url("../images/peinados/9_3.png");} 
#juanificate_preload{background-image:  url("../images/peinados/9_4.png");} 
#juanificate_preload{background-image:  url("../images/peinados/10_1.png");}
#juanificate_preload{background-image:  url("../images/peinados/10_2.png");}
#juanificate_preload{background-image:  url("../images/peinados/10_3.png");}
#juanificate_preload{background-image:  url("../images/peinados/10_4.png");}
#juanificate_preload{background-image:  url("../images/peinados/11_1.png");}
#juanificate_preload{background-image:  url("../images/peinados/11_2.png");}
#juanificate_preload{background-image:  url("../images/peinados/11_3.png");}
#juanificate_preload{background-image:  url("../images/peinados/11_4.png");}
#juanificate_preload{background-image:  url("../images/peinados/12_1.png");}
#juanificate_preload{background-image:  url("../images/peinados/12_2.png");}
#juanificate_preload{background-image:  url("../images/peinados/12_3.png");}
#juanificate_preload{background-image:  url("../images/peinados/12_4.png");}
#juanificate_preload{background-image:  url("../images/peinados/13_1.png");}
#juanificate_preload{background-image:  url("../images/peinados/13_2.png");}
#juanificate_preload{background-image:  url("../images/peinados/13_3.png");}
#juanificate_preload{background-image:  url("../images/peinados/13_4.png");}
#juanificate_preload{background-image:  url("../images/peinados/14_1.png");}
#juanificate_preload{background-image:  url("../images/peinados/14_2.png");}
#juanificate_preload{background-image:  url("../images/peinados/14_3.png");}
#juanificate_preload{background-image:  url("../images/peinados/14_4.png");}
#juanificate_preload{background-image:  url("../images/peinados/15_1.png");}
#juanificate_preload{background-image:  url("../images/peinados/15_2.png");}
#juanificate_preload{background-image:  url("../images/peinados/15_3.png");}
#juanificate_preload{background-image:  url("../images/peinados/15_4.png");}
#juanificate_preload{background-image:  url("../images/peinados/16_1.png");}
#juanificate_preload{background-image:  url("../images/peinados/16_2.png");}
#juanificate_preload{background-image:  url("../images/peinados/16_3.png");}
#juanificate_preload{background-image:  url("../images/peinados/16_4.png");}
#juanificate_preload{background-image:  url("../images/peinados/17.png");}
#juanificate_preload{background-image:  url("../images/peinados/18.png");}
#juanificate_preload{background-image:  url("../images/peinados/19.png");}

#juanificate_preload{background-image:  url("../images/UI/ic_boca.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_boca_active.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_cabello.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_cabello_active.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_escenario.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_escenario_active.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_ojos.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_ojos_active.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_pantalones.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_pantalones_active.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_playera.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_playera_active.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_zapato.png");}
#juanificate_preload{background-image:  url("../images/UI/ic_zapato_active.png");}

#juanificate_preload{background-image:  url("../images/zapatos/hombre/1.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/2.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/3.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/4.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/5.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/6.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/7.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/8.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/9.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/10.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/11.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/12.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/13.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/14.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/15.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/16.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/17.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/18.png");}
#juanificate_preload{background-image:  url("../images/zapatos/hombre/19.png");}

#juanificate_preload{background-image:  url("../images/zapatos/mujer/1.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/2.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/3.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/4.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/5.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/6.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/7.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/8.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/9.png");}
#juanificate_preload{background-image:  url("../images/zapatos/mujer/10.png");}
